<h2>
    {{ title }}
</h2>

<h3 *ngIf="message">
    {{ message }}
</h3>


<div class="right">
    {{ productsNb$ | async }} products <span *ngIf="filtered">(filtered)</span> |

    {favourites, plural,
    =0 {no favourite}
    =1 {1 favourite}
    other {{{favourites}} favourites}
    }
</div>
<div> 
    Search: <input type="text" [formControl]="filter" placeholder="filter by name">
    &nbsp;
</div>

<div *ngIf="filteredProducts$ | withLoading | async as obs">
    <ng-template [ngIf]="obs.value">
        <ul class="products">
            <li *ngFor="let product of obs.value | slice:start:end"
                (click)="onSelect(product)"
                [class.discontinued]="product.discontinued"
                [class.selected]="selectedProduct === product"
                [title]="product | json">
                <span class="name">{{ product.name | uppercase }}</span>
                <span class="description">{{ product.description }}</span>
                <span class="price">{{ product.price | currency:'CAD':'symbol-narrow':'.2' }}</span>
            </li>
        </ul>
    </ng-template>
    <ng-template [ngIf]="obs.error">
        <h2 class="errorMessage">Error! {{ obs.error }}</h2>
    </ng-template>
    <ng-template [ngIf]="obs.loading">
        <h2 class="loading">Loading products</h2>
    </ng-template>
</div>


<div class="right">
    <button (click)="refresh()">Refresh List</button>&nbsp;
    <a routerLink="insert">Add new product...</a>
</div>

<div>
    <button (click)="previousPage()"
            [disabled]="start === 0">
        < Previous Page
    </button>
    Page {{ currentPage }}
    <button (click)="nextPage()"
            [disabled]="(productsNb$ | async) <= end">
        Next Page >
    </button>
</div>